// INCLUDE PARTIAL FILES
@import './reset';
@import './variables';

    
body{
    // background: var(--primary-color);
    background: $primary-color;
    color: $text-color;
    
}

.main{
    width: 80%;
    margin: 0 auto;

    // &_paragraph{
    //     font-weight: map-get($font-weights, bold);
    // }

    // We want only the paragraph with class named 'main_paragraph'in main, we need:
    #{&}_paragraph{
        font-weight: map-get($font-weights, bold);

        &:hover{
            color: pink;
        }    
    }
}