// INCLUDE PARTIAL FILES
@import './reset';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}    
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true){
    @if $light-theme{
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin row-or-column{
    @media (max-width: $mobile){
        @content;
    }
}
body{
    // background: var(--primary-color);
    background: $primary-color;
    color: $text-color;
    
}

.main{
    @include flexCenter(row);
    width: 80%-30%;
    margin: 0 auto;

    // &_paragraph{
    //     font-weight: map-get($font-weights, bold);
    // }

    // We want only the paragraph with class named 'main_paragraph'in main, we need:
    #{&}_paragraph1{
        font-weight: weight(bold);

        &:hover{
            color: pink;
        }    
    }


    #{&}_paragraph2{
        @extend .main_paragraph1;

        &:hover{
            color: blue;
            font-size: 25px;

        }
    }

    // When the media page is below $mobile pixels, it will change the flex direction
    @include row-or-column{
        flex-direction: column;
    }
}
.light-or-dark{
    @include theme(true);
} 